@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: red;
}

header {
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 200px; */
    margin: 20px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    filter: drop-shadow(10px);
    padding: 16px 50px;
    background-color: rgb(54, 51, 51);
    border-radius: 100px;

}

.logo {
    cursor: pointer;
    transition: 0.5s ease;
    color: red
}

.logo:hover {
    transform: scale(1.1);
}

header a {
    margin-left: 20px;
    color: rgb(255, 0, 0);
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    font-weight: 900;
}

nav a {
    margin-left: 40px;
}

header a:hover {
    color: red;
    border-bottom: 3px solid red;
}

.home {
    min-height: 100vh;
    padding: 5rem 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .avatar {
    width: 300px;
    border-radius: 100px;
}